@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
.container{
   width: 100%;
   display:flex;
   flex-direction: column;
   font-family: 'Quicksand', sans-serif;
   justify-content:center;
   align-items: center;
   background-color:#dfdfdf;
   color: rgb(48, 48, 48);
   outline:none;
}

.contain{
   margin-top:60px;
   width: 95%;
   display:flex;
   flex-direction:column;
   align-items:center;
}

.all{
   width:100%;
   display:flex;
   flex-wrap: wrap;
   justify-content: center;

}

.img{
    max-height:120px;
    max-width:120px;
    min-width: 120px;
    min-height: 120px;
    transition: .34s;
    object-fit: contain;
    margin: 30px 0 20px 0 ;
}

.licen{
   transition:.2s;
   width:39%;
   align-items:center;
   margin:20px 10px;
   height: 600px;
   background-color:#ffffff;
   border-radius: 10px;
}

.in{
   width:95%;
   display:flex;
   flex-direction:column;
   align-items:center;
}

.intt{
   font-size:45px;
   margin:20px 0 17px 0;
}

.raya{
   width:240px;
   height:4.5px;
   background-color: #D73939;
   margin-bottom: 20px;
}

.poi{
   color: #4e4e4e;
   font-size:17px
}

.numbers{
   outline: none;
   display: flex;
   flex-direction:row;
   width:57%;
   justify-content:center;
   color: #805454;
   cursor: pointer;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.numbers p{
   outline: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   display:flex;
   transition:.3s;
   justify-content: center;
   align-items:center;
   width:30px;
   height:30px;
   border-radius:50%;
   margin:5px 6px 40px 6px;
}
.numbers p:hover{
   outline: none;
   background-color:#e7b5b5
}

.selec{
   background-color:#e7b5b5 ;
}


.headres{
   width: 100%;
   height:10%;
   background:#D73939;
   border-radius: 4px 4px 0 0;
}

.bodys{
   margin:0;
   height:90%;
   display:flex;
   flex-direction:column;
   align-items:center;
}

.title{
   height: 10%;
   font-size:30px;
   margin: 0;
   padding:0 10px;
   text-align:center;
}

.size{
   height:5%;
   font-size:15px
}

.des{
   text-align: center;
   transition: .3s;
   height:80%;
   overflow-y: auto;
   margin:0 15px 20px 15px;
   padding:10px 15px;
}

.des::-webkit-scrollbar{
   width:5px;
}

.des::-webkit-scrollbar-thumb{
   background: #e03d3d;
   border-radius:2px
}

.button{
   display:flex;
   flex-direction:column;
   height:200px;
}

.button:nth-child(2){
   margin:12px 0 20px 0;
}
.button button{
  transition: .3s;
  height: 40px;
  line-height: normal;
  background:#D73939;
  border:none;
  width:200px;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  color:rgb(255, 255, 255);
  font-size:16.5px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

.button button:hover{
   background:#d46060;
}

.buscador{
   display:flex;
   flex-direction:row;
   width: 100%;
   justify-content: flex-end;
}

.buscador img{
   width:25px;
}

.buscador input{
   height:16px;
   width:270px;
   outline:none;
   padding: 3px 2px;
   border:3px solid#D73939;
   margin-right: 10px;
}

@media (max-width:1100px){
   .contain{
      margin-top:60px;
      width: 95%;
   }
   .img, .mario{
      max-height:105px;
      max-width:105px;
      min-width: 105px;
      min-height: 105px;
  }

  .licen{
     width:43%;
  }

}

@media (max-width:1000px){
   .img, .mario{
      max-height:100px;
      max-width:100px;
      min-width: 100px;
      min-height: 100px;
  }

}

@media (max-width:870px){
   .img, .mario{
      max-height:87px;
      max-width:87px;
      min-width: 87px;
      min-height: 87px;
  }  .buscador img{
   width:20px;
}

.buscador input{
   height:15px;
   width:40%;
   outline:none;
   padding: 3px 2px;
   border:2px solid#DD2C88;
   margin-right: 10px;
}
  .title{
     font-size:25px
  }
  .size{
   font-size:13px
  }
  .licen{
     height: 590px;
     width:45%;
     margin:15px 8.5px 15px 8.5px
  }
}

@media (max-width:770px){
   .img, .mario{
      max-height:82px;
      max-width:82px;
      min-width: 82px;
      min-height: 82px;
  }

  .button button{
   font-size: 14px;
  }
  .title{
     font-size:25px
  }

  .des{
     font-size: 15px;
     padding:0 4px;
  }

 

 .elegir div button{
    font-size: 15px;
    width:80%;
 }
 .intt{
   font-size:40px;
   margin:20px 0 17px 0;
}

 .licen{
   width:47%;
   margin:15px 6px 15px 6px
   }

   .contain{
      width:98%
   }
   .raya{
      width:240px;
      height:4px;
      background-color: #cc349e;
      margin-bottom: 20px;
   }

   .poi{
      color: #4e4e4e;
      font-size:15px
   }

   .numbers{
      width:100%
   }
}


@media (max-width:700px){
   .img, .mario{
      max-height:100px;
      max-width:100px;
      min-width: 100px;
      min-height: 100px;
  }
  .title{
     font-size:25px
  }

  .des{
     font-size: 15px;
     padding:0 25px;
     margin:0 13px 20px 13px;
  }



 .licen{
   height: 570px;
   width:85%;
   margin:15px 8.5px 15px 8.5px
   }

}

@media (max-width:530px){
   .img, .mario{
      max-height:84px;
      max-width:84px;
      min-width: 84px;
      min-height: 84px;
   }
   .title{
      font-size:23px
   }

   .des{
      font-size: 15px;
      padding:0 25px;
      margin:0 13px 20px 13px;
   }
   
}

@media (max-width:460px){
   .des{
      font-size: 14px;
      padding:0 18px;
      margin:0 13px 20px 13px;
   }
  
    .img, .mario{
      max-height:80px;
      max-width:80px;
      min-width: 80px;
      min-height: 80px;
   }
   .title{
      font-size:21px
   }

   .intt{
      font-size:34px;
      margin:20px 0 17px 0;
   }
   .raya{
      width:240px;
      height:3.5px;
      background-color: #cc349e;
      margin-bottom: 20px;
   }

   .poi{
      color: #4e4e4e;
      font-size:14px
   }

}

@media (max-width:400px){
   .numbers p {
      font-size: 13px;
      height:25px
   }
}